<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Style-Type" content="text/css">
<link rel="stylesheet" type="text/css" href="/media/pix.css">
<title> fever </title>
</head>

<body>

<div style= 'border: solid 1px black;'>
	<div id = 'top'></div>


	<div id = 'left'>hello</div>  

	<div id = 'right'>good bye</div>
	<div id = 'center'>
		{% if e %}
			<p style ='color: red;'> Enter a correct email address </p>
		{% endif %}
		<form action="" method="post">
			<input type= 'text' name = 'email'>
			<input type= 'submit' value = 'Go'>		</form>
	</div>
		

	<div id = 'footer'><div align = 'center'>&copy; </div></div>
</div>
</body>
</html>